* {
    box-sizing: border-box;
  }
  
  body {
    background: url(https://images.pexels.com/photos/8581034/pexels-photo-8581034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    margin: 220px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
  }
  
  h1 {
    padding-bottom: 10px;
    text-align: center;
    color: #524e4e;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border: 2px solid #ddd;
    border-radius: 20px;
  }

  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: green;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: green 2px solid;
  }

  button[type="submit"]:hover {
    color: #fff;
    background-color: green;
  }

  button[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: orange 2px solid;
  }

  button[type="reset"]:hover {
    color: #fff;
    background-color: orange;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .button--light {
    background-color: #fff;
    border: none;
  }
  
  .button--light:hover {
    cursor: pointer;
  }