* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f8f8;
  background-position: center;
  background-size: contain;
  background: url(https://www.freepik.com/free-photo/beach-background-with-beach-elements_2364770.htm#query=summer&position=10&from_view=keyword&track=sph&uuid=da674839-ec25-478f-bbac-cd3a11f535ac);
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 800px;
}

h1 {
  text-align: center;
  color: rgb(255, 0, 230);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  border:2px solid #ddd ;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(51, 51, 51);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}



button[type="reset"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: gray;
  color: black;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  color: #fff;
  background-color:  rgba(0, 255, 21, 0.917);
}
  button[type="reset"]:hover {
    color: #fff;
    background-color:  rgb(255, 81, 0);
  }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

li:last-child {
  border-bottom: yes;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.button--light {
  background-color: #fff;
  border: none;
}

.button--light:hover {
  cursor: pointer;
}