.navigation {
  margin: 0;
  padding: 20px;
  background-color: #fff;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
}

.navigation-list > li:hover {
  cursor: pointer;
}