
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: #fff;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.App-header:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 300px;
  margin: 0 auto;
}

li {
  font-size: 1.5rem;
  margin: 10px 0;
  animation: slideIn 0.5s forwards;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:5px;
  width: 100%;
  text-align: center;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}