.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */

  background-image: url(https://media.istockphoto.com/id/181664840/tr/foto%C4%9Fraf/abstract-art-vintage-background.jpg?s=612x612&w=0&k=20&c=oKZ6PTQx4ffJKlWUlJ0Ab-pXks4bhud10CO_GcKWvKI=);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
