.account-container {
  border: 0.6dvh solid #e9775a;
  border-radius: 8px;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 20px;
  margin: 30px auto;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  width: 45%;
}

.account-container h1 {
  font-size: 27px;
  margin-bottom: 15px;
  color: #696363;
}
