.user-details-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.user-details-form > input {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.user-details-form > button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
