body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.accordion {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease;
}

.accordion-header:hover {
    background-color: #0056b3;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    padding: 0 15px;
}

.accordion-content p {
    margin: 15px 0;
}

.header-main > h1{
    width: 100%;
    text-align: center;
   color: white;
   font-family: sans-serif;
   font-weight: 300;
}

.header-main{
    background-color: #007bff;
}