:root {
  --main-darkborder: #a7a7a7;
  --main-lightborder: #ffffffe2;
}

.user-details-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.user-details-form-input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px var(--main-darkborder);
}

.btn-submit {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}