.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHRvZG8lMjBsaXN0JTIwYmFja2dyb3VuZCUyMGluYWdlfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
}
