.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app {
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
}

.app-header {
  text-align: center;
  font-size: 18px;
}