body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.background-gif {
    width: 500px; 
    height: 500px; 
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f321b49-5fa7-407b-aaa0-cca6992d3d7c/d5s04qj-d26a072a-3294-4da7-8ab9-a1be78141275.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmMzIxYjQ5LTVmYTctNDA3Yi1hYWEwLWNjYTY5OTJkM2Q3Y1wvZDVzMDRxai1kMjZhMDcyYS0zMjk0LTRkYTctOGFiOS1hMWJlNzgxNDEyNzUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cBMxrJbp5Q5ghUGAev4ovPgb-Q2evrJs-XqbSrdUeB4');
    background-size: cover; 
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    width: 200px;
    height: 2000px;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    transition: 200ms ease-in-out width;
}

.img::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out background-color;
}

.img h1 {
    font-size: 70px;
    color: #fff;
    position: absolute;
    z-index: 10;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%) rotate(-90deg);
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out transform, 200ms ease-in-out top, 200ms ease-in-out left;
}

.img.show_img {
    width: 1500px;
}

.img.show_img::before {
    background-color: rgba(0, 0, 0, 0);
}

.img.show_img h1 {
    transform: translate(0, 0) rotate(0);
    top: 20px;
    left: 80px;
}

.accordion-container {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 700px;
    
}

.accordion-header, 
.accordion-body {
    padding: 1rem;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-header img {
    width: 100%;
}

.accordion-body {
    font-size: 90px;
    display: none;
    color: #EE4E4E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.accordion.active .accordion-body {
    display: block;
}





