:root {
  --marine-blue: #02295a;
  --light-gray: #e2e2e2;
  --cool-gray: #9699ab;
  --white: #ffffff;
  --success-green: #4CAF50;
  --green-hover: #258b25;
  --danger-red: #c9302c;
  --red-hover: #7a0916;
  --button-blue: #007bff;
  --button-blue-hover: #0056b3;
  --error-light: #f8d7da;
  --error-dark:  #721c24;
  --light-green: #d4edda;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--light-gray);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  
}

#newForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}

#title,
#content,
#postTitle,
#postContent {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--cool-gray);
  border-radius: 4px;
  
}
div{
  padding: 8px 16px;
  border-radius: 10px;
}
#postsContainer {
  margin-top: 20px;
}

.post {
  border: 1px solid var(--cool-gray);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--white);
}

#update-post-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
}

a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: var(--white);
  background-color: var(--button-blue);
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: var(--button-blue-hover);
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  display:block;
}
.button--equal {
  width: 100px;
}

.button--success {
  background-color: var(--success-green);
}

.button--success:hover {
  background-color: var(--green-hover);
}

  .button--danger {
    background-color: var(--danger-red);
  }

  .button--danger:hover {
    background-color: var(--red-hover);
  }

  h1 {
    color: var(--marine-blue);
    margin-bottom: 20px;
  }

  .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #succes-message {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  padding:10px 16px;
  font-weight: 700;
}

.success {
    background-color: var(--light-green);
    color: var(--green-hover);
}

.error-message {
    background-color:var(--light-gray);
    color: var(--danger-red)
}

span{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  padding:10px 16px;
  font-weight: 700;
}
.alert-message__update{
  border-radius: 10px;
  background-color: var(--red-hover);
  color: var(--light-gray);
  margin: 10px 0; 
  padding: 10px; 
  text-align: center; 
  width: 100%; 
}
ul{
  list-style: none;
  border-radius: 10px;
}
.update-button, .delete-button {
  display: inline-block; 
  margin-right: 10px; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.update-button {
  background-color: var(--button-blue); 
  color: var(--white);
}

.delete-button {
  background-color: var(--danger-red);
  color: var(--white);
}