* {
  box-sizing: border-box;
}

:root {
  --pure-white: #FFFFFF;
  --light-grey: #F4F6FA;
  --green: #26D782;
  --light-bluish: #ABC1E1;
  --red: #EE5454;
  --purple: #A729F5;
  --dark-navy: #313E51;
  --navy: #3B4D66;
  --grey-navy: #626C7F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey);
}

.dark-navy {
  color: var(--dark-navy);
}
.grey-navy {
  color: var(--grey-navy);
}
